/* ============================= */
/* CONTACT SECTION */
/* ============================= */


.contact-section {
  position: relative;
  background: linear-gradient(
    135deg,
    #fbf7fd,
    #f4edf9
  );
  overflow: hidden;
  padding: 120px 0;
}

/* Soft floating background glow */
.contact-section::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  top: -100px;
  left: -100px;
  background: radial-gradient(circle,
      rgba(147,120,180,0.15),
      transparent 70%);
  filter: blur(80px);
  z-index: 0;
}

.contact-section .container {
  position: relative;
  z-index: 2;
}

.contact-title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  
}

.contact-intro {
  font-size: 18px;
  color: #555;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

/* ============================= */
/* CONTACT SERVICE-STYLE CARDS */
/* ============================= */

.contact-card {
  position: relative;
  background: white;
  padding: 40px 30px;
  border-radius: 25px;
  transition: all 0.4s ease;
  box-shadow: 0 15px 40px rgba(74,50,103,0.08);
  height: 100%;
  overflow: hidden;
}

/* Gradient Border Effect */
.contact-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 2px;
  background: linear-gradient(
    45deg,
    #F58529,
    #DD2A7B,
    #8134AF,
    #515BD4
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/* Hover Lift */
.contact-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 35px 80px rgba(74,50,103,0.2);
}

/* Icon Circle */
.contact-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    175deg,
    #ffab67,
    #fb1b80,
    #a91bfc,
    #515BD4
  );

  color: white;
  font-size: 26px;
  animation: floatWidget 4s ease-in-out infinite;

  box-shadow: 0 10px 30px rgba(221,42,123,0.3);
}

 .contact-icon i{
  font-size: 25px;
 }
/* Title */
.contact-card h5 {
  font-weight: 600;
  color: var(--primary-dark);
  margin-bottom: 15px;
}

/* Text */
.contact-card p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
}
/* ============================= */
/* GOOGLE MAP SECTION */
/* ============================= */

.map-wrapper {
  margin-top: 80px;
}

.map-wrapper h4 {
  font-weight: 600;
  color: var(--primary);
}

.map-container {
  width: 100%;
  height: 340px;
  border-radius: 30px;
  overflow: hidden;

  box-shadow:
    0 30px 80px rgba(0,0,0,0.15),
    inset 0 0 0 1px rgba(255,255,255,0.4);

  transition: all 0.4s ease;
}

.map-container:hover {
  transform: translateY(-8px);
  box-shadow:
    0 40px 100px rgba(74,50,103,0.25),
    inset 0 0 0 1px rgba(255,255,255,0.6);
}