<!-- PREMIUM FOOTER -->
<footer class="premium-footer">

  <div class="footer-overlay"></div>

  <div class="container position-relative">

    <div class="row gy-5">

      <!-- ABOUT -->
      <div class="col-md-4">
        <h4 class="footer-title">Cherish Skin & Hair Clinic</h4>
        <p class="footer-text">
          At Cherish Skin & Hair Clinic, we blend science with care to bring
          out your natural glow and confidence.
        </p>
      </div>

      <!-- SERVICES -->
      <div class="col-md-4">
        <h5 class="footer-heading">Services</h5>
        <ul class="footer-links">
          <li><a href="#" routerLink="/service"
      routerLinkActive="active-link">Laser Hair Removal</a></li>
          <li><a href="#" routerLink="/service"
      routerLinkActive="active-link">Acne & Scar Treatment</a></li>
          <li><a href="#" routerLink="/service"
      routerLinkActive="active-link">Skin Brightening</a></li>
          <li><a href="#" routerLink="/service"
      routerLinkActive="active-link">Hair Regrowth Therapies</a></li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="col-md-4">
        <h5 class="footer-heading">Get in Touch</h5>
        <p class="footer-text">
          X-1, Near Veda Diagnostic Centre,<br>
          Below Samadhan Super Market,<br>
          Maharana Pratap Chowk,<br>
          Bajajnagar, Chhatrapati Sambhajinagar (Aurangabad) 431136
        </p>
      </div>

    </div>

    <hr class="footer-divider">

    <!-- BOTTOM ROW -->
    <div class="footer-bottom d-flex justify-content-between align-items-center">

      <p class="mb-0">
        © 2026 Cherish Skin & Hair Clinic. All Rights Reserved.
      </p>

      <div class="nav-social">
        <a href="#" class="nav-icon google">
    <i class="bi bi-google"></i>
  </a>

  <a href="#" class="nav-icon instagram">
    <i class="bi bi-instagram"></i>
  </a>

  <a href="#" class="nav-icon facebook">
    <i class="bi bi-facebook"></i>
  </a>

  <a href="#" class="nav-icon linkedin">
    <i class="bi bi-linkedin"></i>
  </a>

      </div>

    </div>

  </div>

</footer>